PORT=8787
HOST=0.0.0.0
NODE_ENV=development
WECHAT_APP_ID=wxec4361898e7e6ff2
WECHAT_APP_SECRET=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=bie_zui_ying
MYSQL_PASSWORD=
MYSQL_DATABASE=bie_zui_ying
REDIS_URL=redis://127.0.0.1:6379
